<IfModule mod_autoindex.c>
   Options -Indexes
</IfModule>

<IfModule mod_rewrite.c>

   Options +FollowSymlinks
   RewriteEngine On

   RewriteCond %{REQUEST_URI}      ^/(js|css|img|docs|fonts)
   RewriteRule ^js/(.*)$            app/static/js/$1       [L]
   RewriteRule ^css/(.*)$           app/static/css/$1      [L]
   RewriteRule ^img/(.*)$           app/static/img/$1      [L]
   RewriteRule ^docs/(.*)$          app/static/docs/$1     [L]
   RewriteRule ^fonts/(.*)$         app/static/fonts/$1    [L]

   RewriteCond %{REQUEST_URI}       !^/app/static/(js|css|img|docs|fonts)/
   RewriteCond %{REQUEST_FILENAME}  !favicon.ico

   RewriteCond %{REQUEST_FILENAME}  !-f [OR]
   RewriteCond %{REQUEST_FILENAME}  !-d

   RewriteRule ^(.*)$               app/$1

</IfModule>